<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!--<img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />-->
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Distribution Uniformity Calculator
      </p>
    </div>
    <div class="row">
      <p>
        <!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>-->
      </p>
    </div>
  </div>
  <div>
    <h2>Made by Team AlwaysTrue 2c</h2>
    <p>Instructions page tab in the top left</p>
    <p>Please click Sign-up in the top right corner to get started</p>
    <p>Results will be e-mailed to you</p>
  </div>
</div>
</section>
