<section>
	<div class="parallax"></div>
  <div class="jumbotron text-center" style="background-color: #f28920">

    <div class="row">
      <p class="lead" style="font-size: 50px; color:black" >
      	Determine the State of Your Irrigation System with Confidence <!-- added quote -->
        Distribution Uniformity Calculator
      </p>
    </div>
 </div>
  <div class="parallax"></div><!--adds another parallax effect to show the whole picture in the background-->

</div>
  <img class="pic" src="http://www.clker.com/cliparts/b/c/7/2/131957366879321821Duck%20in%20the%20Rain.svg.med.png" > <!--added duc image -->
<h6>Photo Source: http://www.clker.com/clipart-155191.html </h6>  
<footer style="border-top-style: solid; border-top-style: 10px;text-align: center;  ">
    
     <a href="http://ifas.ufl.edu/" id="ifas" style="display: inline-block; background-color: black" ><img src="http://ifas.ufl.edu/media/ifasufledu/ifas-dark-blue/style-assets/css/images/UF-IFAS-logo-white.png"></a> <!--add ifas logo that redirects you to the ifas website -->
  </footer>
</section>
