<section>
  <div class="jumbotron text-center" style="background-color: #f28920">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!--<img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />-->
      </div>
    </div>
    <br>

    <div class="row">
      <p class="lead" style="font-size: 50px; color:black" >
        Distribution Uniformity Calculator
      </p>
    </div>
  
    <div class="row">
      <p>
        <!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>-->
      </p>
    </div>
  </div>
  <div class="welcome" style="text-align: center">
    <h2>Made by Team AlwaysTrue 2c</h2>
    <p>Please click Sign-up in the top right corner to get started</p>
    <p>Results will be e-mailed to you</p>
  </div>
</div>
  <img src="http://www.clker.com/cliparts/b/c/7/2/131957366879321821Duck%20in%20the%20Rain.svg.med.png">
</section>
