<section>
    <div class="page-header" ng-init="count()">
      <h1>DUC Stats</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <td>County</td>
            <td>Number of Measurements</td>
        </thead>
        <tbody>
            <tr ng-repeat="m in vm.countyCounts">
              <td>{{m._id}}</td>
              <td>{{m.count}}</td>
            </tr>
            <tr>
              <td><b>Total Measurements</b></td>
              <td><b>{{total}}</b></td>
            </tr>
        </tbody>
    </table>
</section>