<section>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js"></script>

    <div class="page-header">
      <h1>View DUCs</h1>
    </div>
    <div class="input-group" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Filter" ng-model="query">
        <button type="button" ng-click="exportCSV()">Export</button>
    </div>
    </br>
    <div class="col-lg-12 list-group">
      <table class="table table-striped">
        <thead>
          <td>Zip</td>
          <td>County</td>
          <td>Result</td>
          <td>Uniformity Distribution</td>
          <td>Irrigation Rate</td>
          <td>Can Depths</td>
          <td>Email</td>
          <td>Date</td>
          <td>Delete</td>
        </thead>
        <tbody id="measurements">
          <tr ng-repeat="m in vm.measurements | filter: query" id="{{m._id}}">
              <td>{{m.zipcode}}</td>
              <td>{{m.county}}</td>
              <td>{{getResult(m.results.uniformity_distribution)}}</td>
              <td>{{m.results.uniformity_distribution}}</td>
              <td>{{m.results.irrigation_rate}}</td>
              <td ng-if="m.can_depths.length < 6">{{m.can_depths}}</td>
              <td style="overflow: scroll" ng-if="m.can_depths.length >= 5">Now that's what I call big data</td>
              <td>{{m.user.email}}</td>
              <td>{{formatDate(m.created_at)}}</td>
              <td>
                <a class="btn btn danger" ng-click="remove(m._id);">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
