<section>
    <div class="page-header">
      <form name = "InputData" ng-show="hide">

     </form>
    </div>
    <div class="col-md-12">
      <form name="first_form" class="form-horizontal" ng-show="hide" ng-submit="continue(first_form.$valid) " novalidate>
        <fieldset>

          <div class="form-group" show-errors>
            <label class="control-label" for="Zip">Zipcode </label>
            <input type="number" name="Zip" ng-model="zipcode" id="Zip" class="form-control" placeholder="zipcode" required>
               <div ng-messages="first_form.Zip.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Zipcode is required.</p>
               </div> 
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="Location">Name of Location</label>
            <input type="text" name="Location" ng-model="location" id="Location" class="form-control" placeholder="location" required>
               <div ng-messages="first_form.Location.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Location is required.</p>
               </div>
          </div>

          <!-- Catch Cans -->
          <div class="form-group" show-errors>
            <label class="control-label" for="NumCC">Number of Catch Cans</label>
            <input name= "NumCC" type="number" ng-model="num" id="NumCC" class="form-control" placeholder="#" min="1" required>
               <div ng-messages="first_form.Location.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Number of Catch Cans (greater than 0) is required</p>               
               </div>
          </div>

          <!-- Time Run -->
          <div class="form-group" show-errors>
            <label class="control-label" for="timeRun">Time Run in Hour</label>
            <input name="timeRun" type="number" ng-model="time" id="timeRun" class="form-control" placeholder="minutes" required>
               <div ng-messages="first_form.Location.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Running Time is required.</p>
               </div>
          </div>


          <!-- Amount of Water Collected -->
          <div class="form-group">
            <button type="submit" class="btn btn-success">Continue</button>
          </div>


        </fieldset>
      </form>

      <!-- can depths form*  -->
      <div ng-hide="hide">
      <form name='second_form' class='form-horizontal' ng-submit='save(second_form.$valid)'>
        <div class="form-group">
          <label class="switch switch-flat">
            <input class="switch-input" ng-model= "unit" name="enable" id="enable" type="checkbox" />
            <span class="switch-label" data-on="Metric" data-off="English"></span> 
            <span class="switch-handle"></span> 
          </label>
        </div>

        <!-- for loop to print out number of input-->
        <div id = "can_depths" class="form-group">

        </div>

        <!--submit button-->
        <div class='form-group'>
          <button type='submit' class='btn btn-success' class="form-control">Calculation</button>
        </div>

      </form>
      </div>
    </div>
  </section>