<section>
    <div class="page-header">
      <form name = "InputData" ng-show="hide">

     </form>
    </div>
    <div class="col-md-7 col-md-offset-3">
      <form name="first_form" class="form-horizontal" ng-show="hide" ng-submit="continue(first_form.$valid) " novalidate>
        <fieldset>

          <!-- <div class="form-group" show-errors> -->

            <!-- Force user to input valid zipcode with 5 number -->
            
            <div class="col-xs-5 d-inline-block form-group"  show-errors>
                
              <input type="text" name="Zip" ng-model="zipcode" id="Zip" class="form-control"  placeholder="Zipcode" pattern="\d{5}" ng-required='!selected_county'>
              <div ng-messages="first_form.Zip.$error" role="alert">
                 <p class="help-block error-text" ng-message="required">County or Zipcode is required</p>
                 <p class="help-block error-text" ng-message = "pattern">Please provide valid zipcode</p>
              </div> 
            </div>

            <div class="col-xs-2 d-inline-block">
                <label>Or</label>
                
            </div>
            
            
            <div class="col-xs-5 d-inline-block form-group" show-errors>
              
              <!-- Create a list of counties that autofills as user completes it -->
              <!-- ng-blur will check the value once the complete input has be entered -->
              <input class="form-control" name="County" type="text" ng-model="selected_county" 
              uib-typeahead="county for county in counties | filter:$viewValue | limitTo:8" ng-blur="validateField(first_form)" placeholder="County" ng-required='!zipcode'>
              
              <!-- Validate when the input is submitted or changed -->

                  <div ng-messages="first_form.County.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">County or Zipcode is required</p>
                      <p class="help-block error-text" ng-message="InvalidCounty">Please choose a county from the list</p>
                      
                    <!-- <p class="help-block error-text" ng-message="validationError">this is the error</p> -->
                    
                  </div>
                 
            </div>
            
          <!-- </div> -->


          <!-- <pre>Custom County</pre>
            <div custom-select="county for county in counties | filter: $searchTerm" ng-model="selected_county">
            </div>           -->
            
              <!-- <div class="form-group" show-errors>
                 
                  
                
                </div> -->

          <!-- Catch Cans -->
          <div class="form-group" show-errors>
            <label class="control-label" for="NumCC">Number of Catch Cans</label>
            <input name= "NumCC" type="number" ng-model="num" id="NumCC" class="form-control" placeholder="#" min="1" step="1" pattern="\d+"  required>
               <div ng-messages="first_form.NumCC.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Number of Catch Cans is required</p>
                  <p class="help-block error-text" ng-message="min">Please provide a number which is greater than zero</p>                 
               </div>
          </div>

          <!-- Time Run -->
          <div class="form-group" show-errors>
            <label class="control-label" for="timeRun">Time Run in Hour</label>
            <div class = "input-group">
              <input name="timeRun" type="number" ng-model="time" id="timeRun" class="form-control" placeholder="Hours" min= "0.0000001" required>
              <span class="input-group-addon">Hours</span>
            </div>
               <div ng-messages="first_form.timeRun.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Running Time is required.</p>
                  <p class="help-block error-text" ng-message="min">Please provide a number which is greater than zero</p>
               </div>
          </div>

                    <!-- Time Run -->
          <div class="form-group">
            <label class="control-label">Optional Notes</label>
            <textarea class="form-control" style="resize:none" ng-model="notes" id="textArea"></textarea>
          </div>


          <!-- Amount of Water Collected -->
          <div class="form-group">
            <button type="submit" class="btn btn-success">Continue</button>
          </div>


        </fieldset>
      </form>

      <!-- can depths form*  -->
      <div ng-hide="hide">
      
      <!-- Toggle button For volume/depth-->
      <form class = "form-horizontal">
        <div class="form-group">
          <label class="switch switch-flat">
            <input class="switch-input" ng-model= "volume" name="volume" id="volume" type="checkbox" />
            <span class="switch-label-volume" data-on="Volume" data-off="Depth"></span> 
            <span class="switch-handle"></span> 
          </label>
        </div>
      </form>

      <!-- form for depth -->
      <form class='form-horizontal' ng-submit='save()' ng-hide="volume">
        <!-- Toggle button For unit-->
        <div class="form-group">
          <label class="switch switch-flat">
            <input class="switch-input" ng-model= "unit" name="enable" id="enable" type="checkbox" />
            <span class="switch-label-unit" data-on="Metric" data-off="Imperial"></span> 
            <span class="switch-handle"></span> 
          </label>
        </div>

        <!-- display dynamic input -->
        <div ng-repeat="value in idArrayForDepth">
          <div class="form-group">
              <label class='control-label'>Amount of Water</label><br>
                <div class = "input-group">
                   <input name = 'depth' id ={{value.id}} type='number' step='any' class='form-control' min='0.000001' required/><br>
                   <span class="input-group-addon">{{unit? 'cm': 'inch'}}</span>
                </div>
           </div>
        </div>

        <!--submit button-->
        <div class='form-group'>
          <button type='submit' class='btn btn-success' class="form-control">Calculation</button>
        </div>

      </form>


        <!-- Form for volume--> 
      <form class='form-horizontal' ng-submit='save()' ng-show="volume">
        <!-- Print out surface area -->
        <div class="form-group">
            <label class='control-label'>Surface Area of container </label><br>
            <div class = "input-group">
              <input name = "area" ng-model="area" name ="area" type='number' step="any" class='form-control' placeholder="Area in square centimeter" min="0.000001" required/>
              <span class="input-group-addon">cm2</span>
            </div>
        </div>

        <!-- display dynamic input -->
        <div ng-repeat="value in idArrayForVolume">
          <div class="form-group">
              <label class='control-label'>Volume of water</label><br>
                <div class = "input-group">
                   <input name = 'volume' id ={{value.id}} type='number' step='any' class='form-control' placeholder='Volume in ml' min='0' required/><br>
                   <span class="input-group-addon">ml</span>
                </div>
           </div>
        </div>

        <!--submit button-->
        <div class='form-group'>
          <button type='submit' class='btn btn-success' class="form-control">Calculation</button>
        </div>

      </form>
      </div>
    </div>
  </section>
